.toggle-btn  {
    background-color: rgb(59, 224, 18);
    /* display: flex; */
    /* margin: 30px 50px; */
    margin-bottom: 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.toggle-btn:focus {
    outline: none;
}